<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Person Form</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    <button>Submit Person</button>
    {{form_end(form)}}

</body>
</html>