<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>
    <h1>Todo List</h1>
    <ul>
        {% for item in maVariable %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
    <form method="post">
        <label for="newTodo">New task :</label>
        <input type="text" name="newTodo" id="newTodo">
        <button>Add</button>
    </form>
</body>

</html>