
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album List</title>
</head>
<body>
    <h1>Albums</h1>

    {% for item in albums %}
        <div>
            <h3><a href="{{path('app_one_album', {id:item.id})}}">{{item.name}}</a></h3>
            <p>By {{item.artist.name}}</p>
            <p>Released : {{item.releaseDate|date('d/m/Y')}}</p>
            <img src="{{item.cover}}" alt="{{item.name}}">
        </div>
    {% endfor %}
</body>
</html>