<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album - {{album.name}}</title>
</head>
<body>

    <h1>{{album.name}}</h1>
    <p>{{album.artist.name}}</p>
    <p>{{album.releaseDate|date('d/m/Y')}}</p>
    <img src="{{album.cover}}" alt="{{album.name}}">
    
    
</body>
</html>